* {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: hsl(185, 41%, 84%);
}

:root {
--very-dark-cyan: hsl(183, 100%, 15%);
--strong-cyan: hsl(172, 67%, 45%);
--dark-greyish-cyan: hsl(186, 14%, 43%);
--greyish-cyan: hsl(184, 14%, 56%);
--light-greyish-cyan: hsl(185, 41%, 84%);
--very-light-greyish-cyan: hsl(189, 41%, 97%);
}

.left-p {
    color: var(--greyish-cyan);
}

.myinput {
    border: none;
    background: none;
    text-align: right;
    font-size: 18px;
    color: var(--very-dark-cyan);
    outline: none;
}


/* -------------------------------------------- */

.calculator {
    width: 50%;
    padding: 40px;
    margin: 50px auto;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 375px) and (max-width: 900px) {
    .calculator {
        margin: 20px auto;
        width: auto;
        flex-direction: column;
        align-items: center;
    }
}

/*///////////////////////////////////////////// LEFT CARD  /////// */

.calculator .left,
.calculator .right {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left .bill,
.left .select-tip,
.left .no-of-people {
    display: flex;
    flex-direction: column;
}

.left .bill .bill-input,
.left .no-of-people .people {
    background-color: var(--very-light-greyish-cyan);
    padding: 10px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-tip {
    margin: 30px 0;
}

.select-tip .percentage-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select-tip .percentage-buttons .percentage {
    width: 30%;
    padding: 8px 0;
    margin-top: 10px;
    border: none;
    background-color: var(--very-dark-cyan);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.select-tip .percentage-buttons .percentage.active {
    background-color: var(--strong-cyan);
}

.select-tip .percentage-buttons .percentage:hover {
    background-color: var(--strong-cyan);

}

#custom {
    background-color: var(--very-light-greyish-cyan);
    text-align: center;
    color: var(--very-dark-cyan);
    font-size: 18px;
    outline: none;
    border-radius: 5px;
}

#custom:focus {
    border: 2px solid var(--strong-cyan);
}

@media (min-width: 375px) and (max-width: 900px) {
    .calculator .left,
    .calculator .right {
        width: 100%;

    }

    .select-tip .percentage-buttons .percentage {
        width: 48%;
        font-size: 14px;
    }
    
    .myinput {
        max-width: 60%;
    }
} 

@media (min-width: 900px) and (max-width: 1300px) {
    .select-tip .percentage-buttons .percentage {
        width: 48%;
    }

    .calculator .left,
    .calculator .right {
    width: 42%;
    }

    .myinput {
        max-width: 60%;
    }
}

.no-of-people .people-text {
    display: flex;
    justify-content: space-between;
}

.no-of-people .people-text #no-zero {
    color: red;
}

.hidden {
    display: none;
}

/*///////////////////////////////////////////// RIGHT CARD  /////// */

.calculator .right {
    background-color: var(--very-dark-cyan);
    padding: 30px;
    border-radius: 20px;
}

@media (min-width: 375px) and (max-width: 900px) {
    .calculator .right {
        margin-top: 30px;
    }
}

.right .tip,
.right .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right .bill-result p {
    color: white;
}

.right .bill-result p span {
    color: var(--greyish-cyan);
}

.right .bill-result .result {
    font-size: 50px;
    color: var(--strong-cyan);
}

.right button {
    border: none;
    padding: 10px 0;
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    border-radius: 5px;
    cursor: pointer;
}

.right button:hover {
    background-color: var(--greyish-cyan);
}